{% extends "./base.html" %}
{% load static %}
{% block content %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PATC</title>
	<style>
		.buttonWidth {
			width: 100px;
		}
		thead, tbody { display: table-header-group; }
		tbody {
			height: 100px;       /* Just for the demo          */
			overflow-y: auto;    /* Trigger vertical scroll    */
			overflow-x: hidden;  /* Hide the horizontal scroll */
		}
		.table-responsive {
			width: 100%;
			margin-bottom: 15px;
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			border: 1px solid #DDD;
		}
        .bodycontainer { max-height: 450px; width: 100%; margin: 0; overflow-y: auto; }
        .table-scrollable { margin: 0; padding: 0; }
	</style>
</head>
<div class="row">
	<div class="ibox-title">
		<h3><strong>Create Assignment</strong></h3>
	</div>
	<div class="ibox-content">
		<div class="row divBackground">
			<form action="" method="post" enctype="multipart/form-data" id="assignmentForm">
				{% csrf_token %}
				<div class="col-sm-8"  style="width:100%">
					<div class="form-group"  style="width:100%">
						<label class="control-label" for="source">Assignment Name</label>
						<input type="text" name="AssignmentName" id="AssignmentName" placeholder="The name of your assignment" onfocus="this.placeholder = ''" onblur="this.placeholder = 'The name of your assignment'" class="form-control">
					</div>
					<div class="form-group" id="date1">
						<label class="control-label" for="due_date">Closing Date</label>
						<div class="input-group">
							<input type="date" id="closing_date" name="closing_date" placeholder="When will the true value be revealed?" class="form-control">
						</div>
					</div>
					<div class="table-responsive">
						<div class="bodycontainer scrollable">
							<table class="sortable table table-striped table-bordered table-hover table-scrollable dataTables-example" id="QuestionTable">
								<thead>
									<tr>
										<th><button type="button" name="select-all" id="select-all" value="0" > All</button></th>
										<th>Question Text</th>
										<th>Category</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div class="form-group" style="width:100%">
						<label class="control-label" for="source">Existing Groups (by Group Name)</label>
					</div>
					<div class="form-group" style="width:100%">
						<input type="text" id = "Usearch" placeholder="Search for..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for...'" style = "width:40%" >
						<button id = "b1" class="btn-success" onclick="SearchKey();return false;" style = "width:16%;margin-left:1%"><span class="fa fa-search"> </span> Search</button>
						<button id = "b2" class="btn-success" value="Clear" onclick="ClearSearch();return false;" style = "width:16%;margin-left:0.4%"/><span class="fa fa-times"> </span> Clear</button>
					</div>
					<div class="form-group" style="width:100%">
						<div style="width:44%;float:left;" class="form-group">
							<select size="10" multiple="multiple" id="Groups" style="width:100%;"></select>
						</div>
						<div style="width:12%;float:left;" class="form-group">
							<button  style="width:80%;float:left;margin-top:20%;margin-left:10%" onclick="addGroupItems();return false;"><span class="fa fa-arrow-right"> </span> </button>
							<button  style="width:80%;float:left;margin-top:10%;margin-left:10%" onclick="addGroupAll();return false;"><span class="fa fa-plus-circle"> </span> All </button>
							<button  style="width:80%;float:left;margin-top:10%;margin-left:10%" onclick="removeGroupAll();return false;"><span class="fa fa-minus-circle"> </span> All </button>
							<button  style="width:80%;float:left;margin-top:10%;margin-left:10%" onclick="removeGroupItems();return false;"><span class="fa fa-arrow-left"> </span> </button>
						</div>
						<div style="width:44%;float:left" class="form-group">
							<select size="10" multiple="multiple" name="selectedGroups" id="selectedGroups" style="width:100%;" ></select>
						</div>
					</div>
					<div class="form-group" style="width:100%">
						<input type="checkbox" id="sendemail" name="sendemail" checked> Send Email
							<button type="button" class ="btn-success btn" style="width:15%;float:left;margin-top:0.1%;margin-left:80%;" id=submit_change>Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block jsPart %}
<!-- Mainly scripts -->
<script src="{% static 'ucs/js/jquery-2.1.1.js'%}"></script>
<script src="{% static 'ucs/js/bootstrap.min.js'%}"></script>
<script src="{% static 'ucs/js/plugins/metisMenu/jquery.metisMenu.js'%}"></script>
<script src="{% static 'ucs/js/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'ucs/js/inspinia.js' %}"></script>
<script src="{% static 'ucs/js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'ucs/js/plugins/dataTables/datatables.min.js' %}"></script> 
<html>
<!-- iCheck -->
<script src="{% static 'ucs/js/plugins/iCheck/icheck.min.js' %}"></script>

<!-- Toastr -->
<script src="{% static 'ucs/js/plugins/toastr/toastr.min.js' %}"></script>

<!-- Sweet alert -->
<script src="{% static 'ucs/js/plugins/sweetalert/sweetalert2.min.js'%}"></script>
<script src="{% static 'ucs/js/plugins/dropzone/dropzone.js' %}"></script>

<!-- Data picker -->
<script src="{% static 'ucs/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'ucs/js/plugins/datapicker/jquery.tableCheckbox.js' %}"></script>
<script src="{% static 'ucs/js/plugins/validate/jquery.validate.min.js'%}"></script>

<!-- Send Email -->
<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>

<!-- http://www.applicationgroup.com/tutorials/DualListBox/DualListBox_JS_Source.asp -->
<script>
	$(document).ready(function() {
		$('.dataTables-example').DataTable({
			dom: '<"html5buttons"B>lTfgitp',
			buttons: [
				{extend: 'copy'},
				{extend: 'csv'},
				{extend: 'excel', title: 'ExampleFile'},
				{extend: 'pdf', title: 'ExampleFile'},
				{extend: 'print',
					customize: function (win){
						$(win.document.body).addClass('white-bg');
						$(win.document.body).css('font-size', '10px');
						$(win.document.body).find('table')
						.addClass('compact')
						.css('font-size', 'inherit');
					}
				}
			]
		});
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			
			return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
		$('#date1 .input-group.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true
		});
	});
</script>
<script type="text/javascript">
	// Connects to account based on user ID in account settings
	(function() {
	    emailjs.init("user_kUHAMtTF8sapnkZ3TT6Jc");
	})();
	function submit_assignment() {
		var member = [];
		var si = document.getElementById("selectedGroups");
		for(j=0;j<si.options.length;j++) {
			member.push(si.options[j].value);
		}
		var checkedQuestions = [];
		// Enumerate over each checked checkbox
		$('.table tr input[type="checkbox"]:checked').each(function() {
			$(this).closest('tr').find('td:not(:first-child):not(:last-child)').each(function() {
				// Gather the selected question text
				checkedQuestions.push($(this).text());
			});
		});
		// JSONify for easy display
		// alert(JSON.stringify(checkedQuestions));
		
		$.ajax({
			type:"POST",
			url:"/create_assignment/",
			data: {
				csrfmiddlewaretoken: "{{ csrf_token }}",
				'assignment_name': $('#AssignmentName').val(), // from form
				'closing_date': $('#closing_date').val(),
				'agroup[]': member,
				'aquestion[]': checkedQuestions
			},
			success: function(data) {
				if (data.status){
					//emailjs.send("<service_id>", "<templat_id>", { "variabls in template" })
					if( $("#sendemail").is(':checked') ) {
						emailjs.send("rtdstamu_gmail_com","exp1",{a_name: data.assignment_name, e_list: data.emails});
					}
					alert(data.rep_message);
					window.location.replace("/search_assignment/");
				}
				else if (!data.status){
					alert(data.rep_message);
					location.reload();
				}
			},
		});
		return false; //<---- move it here
	}
</script>
<script type="text/javascript">
	function addGroupItems() {
		var ai = document.getElementById("Groups");
		var si = document.getElementById("selectedGroups");
		for (i=0;i<ai.options.length;i++) {
			if (ai.options[i].selected) {
				var opt = ai.options[i];
				si.options[si.options.length] = new Option(opt.innerHTML, opt.value);
				ai.options[i] = null; i = i - 1;
			}
		}
	}
</script>
<script type="text/javascript">
	function addGroupAll() {
		var ai = document.getElementById("Groups");
		var si = document.getElementById("selectedGroups");
		for (i=0;i<ai.options.length;i++) {
			var opt = ai.options[i];
			si.options[si.options.length] = new Option(opt.innerHTML, opt.value);
		}
		ai.options.length = 0;
	}
</script>
<script type="text/javascript">
	function removeGroupItems() {
		var ai = document.getElementById("Groups");
		var si = document.getElementById("selectedGroups");
		for (i=0;i<si.options.length;i++) {
			if (si.options[i].selected) {
				var opt = si.options[i];
				ai.options[ai.options.length] = new Option(opt.innerHTML, opt.value);
				si.options[i] = null; i = i - 1;
			}
		}
	}
</script>
<script type="text/javascript">
	function removeGroupAll() {
		var ai = document.getElementById("Groups");
		var si = document.getElementById("selectedGroups");
		for (i=0;i<si.options.length;i++) {
			var opt = si.options[i];
			ai.options[ai.options.length] = new Option(opt.innerHTML, opt.value);
		}
		si.options.length = 0;
	}
</script>
<script type="text/javascript">
	var datas = {{dataList | safe}};
	console.log(datas)
	if(datas){
		var tableRef = document.getElementById("QuestionTable").getElementsByTagName('tbody')[0];
		datas.forEach(function(name, index) {
			var num = tableRef.rows.length;
			var newRow = tableRef.insertRow(num);
			var newCell_0  = newRow.insertCell(0);
			var checkbox = document.createElement('input');
			checkbox.type = "checkbox";
			checkbox.name = "Foo";
			//checkbox.id = "Foo";
			newCell_0.appendChild(checkbox);
			
			var newCell_1  = newRow.insertCell(1);
			var newText1  = document.createTextNode(name.question_text);
			newCell_1.name = "question_text";
			newCell_1.appendChild(newText1);
			
			var newCell_2  = newRow.insertCell(2);
			var newText2  = document.createTextNode(name.category_text);
			newCell_2.appendChild(newText2);
		});
	}
</script>
<script type="text/javascript">
	function SearchKey() {
		var names = {{initialItems | safe}};
		var ai = document.getElementById('Groups');
		var si = document.getElementById("selectedGroups");
		var search_item = document.getElementById('Usearch').value;
		ai.options.length = 0;
		i = 0;
		names.forEach(function(name, index) {
			v = true;
			if(name.search(search_item) >= 0){
				for(j=0;j<si.options.length;j++){
					if(name == si.options[j].value){
						v = false;
					}
				}
				if(v){
					ai.options[i] = new Option(name);
					i++;
				}
			}
		});
	}
</script>
<script type="text/javascript">
	function ClearSearch() {
		var names = {{initialItems | safe}};
		var ai = document.getElementById('Groups');
		var si = document.getElementById("selectedGroups");
		ai.options.length = 0;
		i = 0;
		names.forEach(function(name, index) {
			v = true;
			for(j=0;j<si.options.length;j++){
				if(name == si.options[j].value){
					v = false;
				}
			}
			if(v){
				ai.options[i] = new Option(name);
				i++;
			}
		});
		document.getElementById('Usearch').placeholder = "Search for...";
		document.getElementById('Usearch').value = null;
	}
</script>
<script type="text/javascript">
	var names = {{initialItems | safe}};
	var sel = document.getElementById('Groups');
	var fragment = document.createDocumentFragment();
	names.forEach(function(name, index) {
	var opt = document.createElement('option');
		opt.innerHTML = name;
		opt.value = name;
		fragment.appendChild(opt);
	});
	sel.appendChild(fragment);
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#submit_change').click(function(){
			submit_assignment();
		});
		/********************************************************************************** 
		The following code will select N questions based on:
		    1) Filter Input
		  The select-all button has a value initlized to 0 and is changed to 1 any time
		  the button is clicked. 
		Filter Input Cases:
		 1) Filter Input is empty or blank --> select or deslect all
	         2) Filter Input has a value --> select or deslect all based on value
		***********************************************************************************/
		var table = $('#QuestionTable').DataTable();
		$('#select-all').on('click', function() {
			var filter_input = $('div.dataTables_filter input').val().toString();
			if( $('#select-all').val() == "0" ) {
				if( filter_input != "" ) {	
					table.rows().eq(0).each( function(index) {
						var row = table.row(index);
						var data = row.data();
						if( data[1].indexOf(filter_input) >= -1 || data[2].indexOf(filter_input) >= -1 ) {
							$(this).find(':checkbox').prop('checked', true);				
						}
					});
					$('#select-all').val("1");
				} else {
					var cells = table.cells( ).nodes();
					$(cells).find(':checkbox').prop('checked', true);
				}
				$('#select-all').val("1");
			}
			else {
				if( filter_input != "" ) {
					table.rows().eq(0).each( function(index) {
						var row = table.row(index);
						var data = row.data().toString();
						if( data[1].indexOf(filter_input) >= -1 || data[2].indexOf(filter_input) >= -1 ) {
							$(this).find(':checkbox').prop('checked', false);				
						}
					});
				} else {
					var cells = table.cells( ).nodes();
					$(cells).find(':checkbox').prop('checked', false);
				}
				$('#select-all').val("0");
			}
		});
	});
</script>
{% endblock %}
