{% extends "./base.html" %}
{% load static %}
{% block content %}
<head>
	<style type="text/css">
		.qn {
			display: none;
		}
		.qn:first-child {
			display: block;
		}
		input[id="submit"] {
			display: none;
		}
	</style>
</head>
<div class="row">
	<div class="ibox-title">
		<h3><strong>Scoring Options</strong></h3>
	</div>
	<div class="ibox-content">
	<form method="post" action="/result/">
		{% csrf_token %}
		<div class="row divBackground">
			<div class="qn 1st">
				<div class="form-group">
					<label class="control-label" for="question_type">Question Type</label>
					<fieldset>
						<label class="">
							<input type="radio" value="1" name="question_type" id="rad" >
							Discrete &nbsp;&nbsp;&nbsp;&nbsp;
						</label>
						<label class="">
							<input type="radio" value="0" name="question_type" id="rad" >
							Continuous
						</label>
					</fieldset>
				</div>
				<div class="form-group">
					<label class="control-label" for="forecast">Forecast?</label>
					<fieldset>
						<label class="">
							<input type="radio" value="1" name="forecast" id="rad" >
							Yes &nbsp;&nbsp;&nbsp;&nbsp;
						</label>
						<label class="">
							<input type="radio" value="0" name="forecast" id="rad" >
							No
						</label>
					</fieldset>
				</div>
				<div class="form-group">
					<label class="control-label" for="question_use">Question Use</label>
					<fieldset>
						<label class="">
							<input type="radio" value="1" name="question_use" id="rad" >
							Training &nbsp;&nbsp;&nbsp;&nbsp;
						</label>
						<label class="">
							<input type="radio" value="0" name="question_use" id="rad" >
							Corporate
						</label>
					</fieldset>
				</div>
				<div  class="form-group">
					<label id="txt_lab" class="control-label" for="question_text">Question Text</label> <br>
					<select id="question_text" name="question_text" class="js-example-basic-single" style ="Width:100%">
						<option selected="selected"></option>
					</select>
				</div>
				<div class="col-sm-4">
					<label id="noc_lab" class="control-label" for="number_of_choice">Number of Choices</label> <br>
					<input type="number" id= "number_of_choice" name="number_of_choice" min="2" style ="Width:20%"></input>
				</div>
				<div class="col-sm-8">
					<label id="cat_lab" class="control-label" for="category">Category</label> <br>
					<select id="category" name="category" class="form-control" style ="Width:50%">
						<option selected="selected"></option>
					</select>
				</div>
				<div class="col-sm-4">
					<label id="usr_lab" class="control-label" for="user">User</label>
					<select id="user" name="user" class="form-control" style ="Width:50%">
						<option selected="selected"></option>
					</select>
				</div>
				<div class="col-sm-8">
					<label id="grp_lab" class="control-label" for="group">Group</label>
					<select id="group" name="group" class="form-control" style ="Width:20%">
						<option selected="selected"></option>
					</select>
				</div>
				<div class="col-sm-4">
					<label class="control-label" for="assignment_name">Assignment Name</label>
					<select id="assignment_name" name="assignment_name" class="form-control" style ="width:50%; margin-left:1%;">
						<option selected="selected"></option>
					</select>
				</div>
				<div class="col-sm-8" id="date1">
					<label class="control-label" for="submitted_date">Date Assessment was Submitted</label>
					<div class="input-group" style="margin-bottom:1%;">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="date" id="date_submitted" name="date_submitted" placeholder="" class="form-control" style="width:40%;">
					</div>
				</div>
			</div>
		</div>
		<div class="btn-toolbar">
			<!-- <button type="button" id="submit" class="btn btn-success pull-left" style="width:10%;margin-left:1%;margin-top:1%"  onclick = "submit_query()">Submit</button> -->
			<input style="width:10%; float:left; margin-top:1%; margin-left:1%;" type="submit" class="btn btn-success" value="Submit"  />
		</div>
	</form>
	</div>
</div>
{% endblock %}

{% block jsPart %}
<!-- Mainly scripts -->
<script src="{% static 'ucs/js/jquery-2.1.1.js'%}"></script>
<script src="{% static 'ucs/js/select2.min.js' %}"></script>
<script src="{% static 'ucs/js/bootstrap.min.js'%}"></script>
<script src="{% static 'ucs/js/plugins/metisMenu/jquery.metisMenu.js'%}"></script>
<script src="{% static 'ucs/js/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'ucs/js/inspinia.js' %}"></script>
<script src="{% static 'ucs/js/plugins/pace/pace.min.js' %}"></script>

<!-- iCheck -->
<script src="{% static 'ucs/js/plugins/iCheck/icheck.min.js' %}"></script>
<script>
	$(document).ready(function () {
		$('.i-checks').iCheck({
			checkboxClass: 'icheckbox_square-green',
			radioClass: 'iradio_square-green',
		});
	});
</script>

<!-- Toastr -->
<script src="{% static 'ucs/js/plugins/toastr/toastr.min.js' %}"></script>

<!-- Sweet alert -->
<script src="{% static 'ucs/js/plugins/sweetalert/sweetalert2.min.js'%}"></script>
<script src="{% static 'ucs/js/plugins/dropzone/dropzone.js' %}"></script>

<!-- Data picker -->
<script src="{% static 'ucs/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

<script>
	var uploader = "{{request.session.username}}";
	var question_type = 0;
	var forecast = 0;
	var question_text = "";
	var number_of_choice = 0;
	var category = "Default";
	var question_purpose = 0;
	var user = "";
	var group = "";
	var assignment = "";
	var date_submitted = "";
	
	var questions = {{questionList | safe}};
	var select_question = document.getElementById("question_text");
	//aler(questions);
	questions.forEach(function(name, index) {
		select_question.options[select_question.options.length] = new Option(name.question);
	});
	
	var catas = {{cataList | safe}};
	var select_cata = document.getElementById("category");
	catas.forEach(function(name, index) {
		select_cata.options[select_cata.options.length] = new Option(name.category);
	});
	
	var users = {{userList | safe}};
	var select_user = document.getElementById("user");
	if(users.length == 0)
	{
	    document.getElementById("usr_lab").style.visibility = "hidden";
		document.getElementById("user").style.visibility = "hidden";
		document.getElementById("grp_lab").style.visibility = "hidden";
		document.getElementById("group").style.visibility = "hidden";
	}

	users.forEach(function(name, index) {
		select_user.options[select_user.options.length] = new Option(name.user);
	});


	var groups = {{groupList | safe}};
	var select_group = document.getElementById("group");
	groups.forEach(function(name, index) {
		select_group.options[select_group.options.length] = new Option(name.group);
	});
	
	var assignments = {{assignmentList | safe}};
	var select_assignment = document.getElementById("assignment_name");
	assignments.forEach(function(name, index) {
		select_assignment.options[select_assignment.options.length] = new Option(name.assignment);
	});
	
	$(document).ready(function() {
		//Selector
		$('.js-example-basic-single').select2();
		//Date picker
		$('#date1 .input-group.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true
		});
		//Radio select/deselect
		$('input[id="rad"]').click(function(){
			var $radio = $(this);
			// if this was previously checked
			if ($radio.data('waschecked') == true){
				$radio.prop('checked', false);
				$radio.data('waschecked', false);
			}
			else {
				$radio.data('waschecked', true);
			}
			// remove was checked from other radios
			$radio.siblings('input[name="rad"]').data('waschecked', false);
		});
	});
</script>
{% endblock %}