{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="row">
	<div class="ibox-title">
		<h3><strong>Assignments</strong></h3>
	</div>
	<div class="ibox-content">
		<div class="table-responsive">
			<table class="table table-striped table-bordered " id="AssignmentTable" >
				<thead>
					<tr>
						<th style="display:none;">#</th>
						<th>Assignment Name</th>
						<th>Number of Questions</th>
						<th> </th>
						<!--- {% if request.session.admin_user %} --->
						<th> </th>
						<th> </th>
						<!--- {% endif %} --->
					</tr>
				</thead>
			</table>
		</div>
		<div class="btn-toolbar">
			<input style="width:20%;float:left;margin-top:0.5%;margin-left:2%"type="button" class="btn btn-success" value="+ Create Assignment" onclick="add_assignment();" />
		</div>
	</div>
</div>
{% endblock %}

{% block jsPart %}
<!-- Mainly scripts -->
<script src="{% static 'ucs/js/jquery-2.1.1.js'%}"></script>
<script src="{% static 'ucs/js/bootstrap.min.js'%}"></script>
<script src="{% static 'ucs/js/plugins/metisMenu/jquery.metisMenu.js'%}"></script>
<script src="{% static 'ucs/js/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'ucs/js/inspinia.js' %}"></script>
<script src="{% static 'ucs/js/plugins/pace/pace.min.js' %}"></script>

<!-- iCheck -->
<script src="{% static 'ucs/js/plugins/iCheck/icheck.min.js' %}"></script>
<script type="text/javascript">
	var datas = {{dataList | safe}};
	var tableRef = document.getElementById("AssignmentTable");
	datas.forEach(function(name, index) {
		var num = tableRef.rows.length;
		var newRow   = tableRef.insertRow(num);
		var newCell_0  = newRow.insertCell(0);
		var newText0  = document.createTextNode(name.assignment_id);
		newCell_0.appendChild(newText0);
		newCell_0.style.display = 'none';
		
		var newCell_1  = newRow.insertCell(1);
		var newText1  = document.createTextNode(name.assignment_name);
		newCell_1.appendChild(newText1);
		
		var newCell_2  = newRow.insertCell(2);
		var newText2  = document.createTextNode(name.number);
		newCell_2.appendChild(newText2);
		
		var newCell_3  = newRow.insertCell(3);
		newCell_3.innerHTML = '<button class="btn btn-primary btn-xs my-xs-btn" type="button" onClick="do_assignment(this)" >'
		+'<span class="glyphicon glyphicon-pencil"></span> Do </button>';
		
		//{% if request.session.admin_user %}
		var newCell_4  = newRow.insertCell(4);
		newCell_4.innerHTML = '<button class="btn btn-primary btn-xs my-xs-btn" type="button" onClick="edit_assignment(this)" >'
		+'<span class="glyphicon glyphicon-pencil"></span> Edit </button>';
		
		var newCell_5  = newRow.insertCell(5);
		newCell_5.innerHTML = '<button class="btn btn-primary btn-xs my-xs-btn" type="button" onClick="delete_assignment(this)" >'
		+'<span class="fa fa-times"></span> Delete </button>';
		//{% endif %}
	});
</script>
<script type="text/javascript" >
	function delete_assignment(element){
		var cell = element.parentNode.parentNode.rowIndex;
		var names = document.getElementById("AssignmentTable").rows[cell].cells[0].innerHTML
		var result = confirm("Are you really sure to delete this Assignment?");
		if(result){
			var action = "delete";
			$.ajax({
				type:"POST",
				url:"/search_assignment/",
				data: {
					csrfmiddlewaretoken: "{{ csrf_token }}",
					'action': action,
					'assignment_id': names, // from form
				},
				success: function(data) {
					location.reload();
				},
			});
			return false;
		}
	}
</script>
<script type="text/javascript" >
	function do_assignment(element){
		var cell = element.parentNode.parentNode.rowIndex;
		var names = document.getElementById("AssignmentTable").rows[cell].cells[0].innerHTML
		window.location = '/do_assignment?assignment_id=' + names;
	}
</script>
<script type="text/javascript">
	function add_assignment(){
		window.location.replace("/create_assignment/");
	}
</script>
<script type="text/javascript" >
	function edit_assignment(element){
		var cell = element.parentNode.parentNode.rowIndex;
		var names = document.getElementById("AssignmentTable").rows[cell].cells[0].innerHTML
		var action = "edit";
		window.location = '/edit_assignment?assignment_id=' + names;
	}
</script>
{% endblock %}